# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# Logs and databases #
######################
*.log

#################
## Sublime Text
#################

*.sublime-project
*.sublime-workspace

#################
## Images
#################

*.jpg
*.jpeg
*.png
*.gif
*.psd
*.ai
*.zip

#################
## Windows detritus
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
.DS_Store?

#################
## Directories
#################
node_modules/
haters/
*.log
updates/

# Custom #
######################
*.sass-cache*
.cache/*
_site
/.idea
/.vscode
/config.yml
secrets.json
.jekyll-metadata
.ruby-version
package-lock.json

._*
.Spotlight-V100
.Trashes
